{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Index Page</h1>

  <ul>
    {% for invoice in invoices %}
      <li> {{ invoice }} <button onclick="deleteInvoice({{ invoice.invoice_id }})">Delete</button><a href="{{url_for('details', invoice_id=invoice.invoice_id)}}">Details</a></li>
    {% endfor %}

  </ul>

  <h2>New Invoice</h2>
  <form action="{{ url_for('index') }}" method="POST">
    <input type="number" step="0.01" name="invoice_value" placeholder="Invoice value" required="required"><br>
    <input type="text" name="invoice_issue_date" placeholder="Invoice issue date" required="required"><br>
    <input type="text" name="invoice_transfer_date" placeholder="Invoice transfer date" required="required"><br>
    <input type="submit" value="Create">
  </form>

  <script type="text/javascript">
    function deleteInvoice(invoice_id) {
      fetch(' {{ url_for("delete", invoice_id=invoice_id) }}' + invoice_id, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          window.location.reload();
        }
        else {
          console.error("Failed to delete item with invoice_id: " + invoice_id);
        }
      })
      .catch(error => {
        console.error('Error during fetching: ', error);
      });

    }
  </script>

{% endblock %}