{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<a class="btn btn-primary" role="button" href="{{ url_for('logout') }}" style="float: right;">Logout</a>
<h1>Index Page</h1>

  <ul class="list-group">
    {% for invoice in invoices %}
      <a href="{{url_for('details', invoice_id=invoice.invoice_id)}}" style="text-decoration:none">
        <li class="list-group-item list-group-item-action"> {{ invoice }} <button onclick="deleteInvoice({{ invoice.invoice_id }})" style="float:right" class="btn btn-outline-info">Delete</button></li>
      </a>
    {% endfor %}

  </ul>

  <h2>New Invoice</h2>
  <form action="{{ url_for('index') }}" method="POST">
    <div class="form-row">
      <input type="number" class="form-control" step="0.01" name="invoice_value" placeholder="Invoice value" required="required"><br>
      <input type="date" class="form-control" name="invoice_issue_date" placeholder="Invoice issue date" required="required"><br>
      <input type="date" class="form-control" name="invoice_transfer_date" placeholder="Invoice transfer date" required="required"><br>
      <input type="submit" class="form-control btn btn-outline-info" value="Create">
    </div>
  </form>

  <script type="text/javascript">
    function deleteInvoice(invoice_id) {
      fetch(' {{ url_for("delete", invoice_id=invoice_id) }}' + invoice_id, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          window.location.reload();
        }
        else {
          console.error("Failed to delete item with invoice_id: " + invoice_id);
        }
      })
      .catch(error => {
        console.error('Error during fetching: ', error);
      });

    }
  </script>
<br>
{% endblock %}